<div id="about" class="container">
    <div class="introBox">
        <img src="assets/img/img3.jpg">
        <div>
            <h2>About Me</h2>
            <p>Exited from Coding</p>
        </div>
    </div>
    <div class="storySection">
        <div class="storyPart">
            <img src="assets/img/walk-line.png">
            <h3>MY JOURNEY BEGAN</h3>
            <p>As I found the Developer Akademie on Youtube.</p>
        </div>
        <div class="storyPart">
            <img src="assets/img/heart-line.png">
            <h3>I LOVE CODING</h3>
            <p>After the First Week I've created my first own Website. That was awesome.</p>
        </div>
        <div class="storyPart">
            <img src="assets/img/search-line.png">
            <h3>EVERYTIME LEARN</h3>
            <p>It was fascinating how much things I've learned in the past 3 months.</p>
        </div>
        <div class="storyPart">
            <img src="assets/img/flight-takeoff-line.png">
            <h3>THE REAL JOURNEY</h3>
            <p>Starts now.</p>
        </div>
    </div>
</div>