header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    a {
        color: white;
        text-decoration: none;
        margin-left: 32px;
        font-weight: 500;
        &:hover {
            color: #FA2759;
        }
    }
    img {
        height: 50px;
        cursor: pointer;
    }
}

.darkLinks {
    a {
        color: black;
        &:hover {
            color: rgba(0, 0, 0, 0.8);
        }
    }
}

.headerDark {
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
    header {
        padding-left: 60px;
        padding-right: 60px;
        justify-content: space-between;
    }
}

@media (max-width: 600px) {
    header {
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
    }
    .links {
        display: none;
    }
    .dropdown-menu {
        span {
            font-size: 40px;
            cursor: pointer;
        }
        .mobile-menu {
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 0;
            right: 0;
            background-color: #1A1A1A;
            transform: translateY(100%);
            opacity: 0;
            a {
                padding-top: 8px;
                padding-bottom: 8px;
                width: 100%;
                text-align: center;
                margin: 0;
            }
        }
    }
}

.openMobileMenu {
    opacity: 1 !important;
    transform: translateY(0) !important;
}