<header  (window:resize)="onResize($event)">
    <img src="assets/img/logo_white.png">

    <div *ngIf="!isMobile">
        <div class="links">
            <a routerLink="/">HOME</a>
            <a href="#portfolio">PORTFOLIO</a>
            <a href="#about">ABOUT</a>
            <!-- <a routerLink="/data-protection">Data Protection</a> -->
            <!-- <a routerLink="/imprint">Imprint</a> -->
        </div>
    </div>

    <div *ngIf="isMobile" class="dropdown-menu">
        <span>&#9776;</span>
        <div id="mobileMenu" class="mobile-menu">
            <a routerLink="/">HOME</a>
            <a href="#portfolio">PORTFOLIO</a>
            <a href="#">ABOUT</a>
        </div>
    </div>

</header>