<header (window:resize)="onResize($event)">
    <img routerLink="/" src="assets/img/logo_white.png">

    <div *ngIf="!isMobile">
        <div class="links">
            <a routerLink="/">HOME</a>
            <a href="#portfolio">PORTFOLIO</a>
            <a href="#about">ABOUT</a>
        </div>
    </div>

    <div *ngIf="isMobile" class="dropdown-menu">
        <span *ngIf="!ifClicked" (click)="openMenu()">&#9776;</span>
        <span *ngIf="ifClicked" (click)="closeMenu()">&#9776;</span>
        <div [class.openMobileMenu]="ifClicked" class="mobile-menu">
            <a routerLink="/">HOME</a>
            <a href="#portfolio">PORTFOLIO</a>
            <a href="#">ABOUT</a>
        </div>
    </div>

</header>