.container {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 200px;
    height: calc(100vh - 120px);

    img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
    }
    // span:first-of-type {
    //     color: #FA2759;
    // }
    // span:last-of-type {
    //     color: #2DFCD8;
    // }
    a {
        padding: 20px 60px;
        text-decoration: none;
        background-color: black;
        color: #2DFCD8;
        border: 1px solid #2DFCD8;
        cursor: pointer;
    }
    a:hover {
        background-color: #2DFCD8;
        color: white;
        transition: all 225ms ease-in-out;
    }
}

.box {
    display: flex;
    justify-content: space-evenly;
    h1 {
        margin-bottom: 80px;
    }
}

.arrowBox {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transition: transform 0.35s ease-out;

    a {
        color: white;
        font-size: 30px;
        border: 1px solid white;
        border-radius: 50%;
        padding: 10px 20px;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 225ms ease-in-out;
        &:hover {
            background-color: white;
            color: #FA2759;
        }
    }
}

.arrowBox.sn-viewport--out {
    opacity: 0;
}

.arrowBox.sn-viewport--in {
    animation: animate 1s ease-in;
}

@keyframes animate {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(360deg);
    }
}

.fadeIn {
    animation: fadeInAnimation 1.3s ease-in-out;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 850px) {
    .box {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: unset;
        padding-bottom: 25px;
        .greet {
            display: flex;
            justify-content: center;
            flex-direction: column;
            h1 {
                margin-bottom: 45px;
            }
            a {
                text-align: center;
            }
        }

        img {
            width: 250px;
            height: 250px;
        }
    }
    .arrowBox {
        display: none !important;
    }
}

@media (max-width: 600px) {
    .container {
        padding-top: 60px;
        padding-left: 0px;
        padding-right: 0px;
    }
}