<!-- <h1>Impressum</h1>
Mustafa Gür <br>
Werinherstr. 12 <br>
<br>
vertretungsberechtigte Gesellschafter: Mustafa <br>
Gür<br>
Telefon: +49 176 24899531 <br>
<br>
E-Mail: mustafaguer@outlook.com -->

<div class='impressum'>
    <h1>Impressum TRALALA</h1>
    <p>Angaben gemäß § 5 TMG</p>
    <p>Mustafa Gür <br> Werinherstr.12
        <br> 81541 München <br>
    </p>
    <p> <strong>Vertreten durch: </strong><br> Mustafa Gür<br>
    </p>
    <p><strong>Kontakt:</strong> <br> Telefon: +49 176 24899531<br> E-Mail: <a href='mailto:mustafaguer@outlook.com'>mustafaguer@outlook.com</a></p><br> Website Impressum von <a href="https://www.impressum-generator.de">impressum-generator.de</a>
</div>