html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

.d-none {
    display: none !important;
}

@keyframes showAnimation {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}